.form-container {
  width: 400px;
  /* height: 200px; */
  box-shadow: rgba(100, 100, 111, 0.2) 0px 3px 14px 0px;
  margin: auto;
  position: absolute;
  left: 50%;
  top: 20%;
  transform: translate(-50%);
  padding: 30px 0;
  border-radius: 20px;
}

.form-container form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* height: 100%; */
}

.form-container form div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.form-container form label {
  width: 70px;
}
.form-container form input {
  border-radius: 5px;
  border: 1px solid black;
  padding: 5px 5px;
}

.form-container form select {
  border-radius: 5px;
  border: 1px solid black;
  padding: 5px 5px;
  width: 181px;
}

.sign-up-btn {
  color: black;
  border-radius: 20px;
  margin-top: 20px;
}

.sign-up-btn:hover {
  color: black;
}

.form-container .login-btn {
  margin-top: 20px;
  padding: 2px 15px;
}

/* SIGNUP */
.signup-form form {
  gap: 10px;
}

.signup-form form label {
  width: 130px;
}

/* MODES  */

.mode2-login-container {
  height: 100vh;
  width: 100vw;
  background-color: #191919;
}

.mode2-form-container {
  background-color: #303030;
  box-shadow: none;
  color: white;
}

.mode2-form-container a {
  background-color: #303030;
  box-shadow: none;
  color: white;
}

.mode2-form-container a:hover {
  background-color: #303030;
  box-shadow: none;
  color: white;
}
